{% extends "skeleton.html" %}
{% block content %}

    <script type="text/javascript" src="/templates/js/formatColor.js"></script>

    <div id="containerPpal">
        <div id="custom_bg">
            <div class="container">
                <div class="row justify-content-lg-center">
                    <div id="div-poster" class="image_content col-lg-4 col-md-12 col-sm-12 text-center">
                        <img id="poster"
                             crossOrigin="Anonymous"
                             src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ tvshow.poster_path }}"
                             onload="background('{{ tvshow.backdrop_path }}');"
                             style="max-width: 100%">
                    </div>
                    <div id="dates_movie" class="col-lg-7 col-md-12 col-sm-12">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col title">
                                    <h2>{{ tvshow.name }}</h2>
                                    <span class="date">({% print(tvshow.first_air_date[0:4])%})</span>
                                </div>
                            </div>
                            <div class="row justify-content-start">
                                <div id="starts" class="col-lg-auto col-md-12 col-sm-12">
                                    <ul class="stars auto actions">
                                        <li class="chart">
                                            <div class="back-start">
                                                {% for i in range(10) %}
                                                    {% if i+0.99 < (tvshow.vote_average) %}
                                                        <span class="fa fa-star starChecked"></span>
                                                    {% else %}
                                                        <span class="fa fa-star startNotchecked"></span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="row-rate" class="col-lg-6 col-md-12 col-sm-12">
                                    <ul class="auto actions">
                                        <li class="chart">
                                            &nbsp;<h6>{{ tvshow.vote_average }}</h6>
                                            <div class="text rate">Score</div>&nbsp;
                                            &nbsp;<h6>{{ tvshow.vote_count }}</h6>
                                            <div id="separate-ratings" class="text rate">Ratings</div>
                                        </li>

                                        {% if is_favorite %}
                                            <li class="lists">
                                                <a title="Remove from favorites"
                                                   href="/lists/deleteDefaultList/{{ tvshow.id }}?type=f263d9a8b7cb4a9e573c18e5b9e15091&list=d78986947356ddd37b43d57df289dee9">
                                                    <i class="fav fa fa-heart" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="lists">
                                                <a title="Add to favorites"
                                                   href="/lists/addDefaultList/{{ tvshow.id }}?type=f263d9a8b7cb4a9e573c18e5b9e15091&list=d78986947356ddd37b43d57df289dee9">
                                                    <i class="default fa fa-heart" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if is_pending %}
                                            <li class="lists">
                                                <a title="Remove from your watchlist"
                                                   href="/lists/deleteDefaultList/{{ tvshow.id }}?type=f263d9a8b7cb4a9e573c18e5b9e15091&list=b2da1e4cf4d03918be2bdc56ae1d4ec2">
                                                    <i class="watchlist fa fa-bookmark" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="lists">
                                                <a title="Add to your watchlist"
                                                   href="/lists/addDefaultList/{{ tvshow.id }}?type=f263d9a8b7cb4a9e573c18e5b9e15091&list=b2da1e4cf4d03918be2bdc56ae1d4ec2">
                                                    <i class="default fa fa-bookmark " aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="row justify-content-start">
                                <h3 dir="auto">Overview</h3>
                                <p>{{ tvshow.overview }}</p>
                            </div>

                            {% if tvshow.tagline %}
                                <div class="row justify-content-start">
                                    <h3 dir="auto">Quote</h3>
                                </div>
                                <div class="row justify-content-start">
                                    <p>"{{ tvshow.tagline }}"</p>

                                </div>
                            {% endif %}

                            <div class="row justify-content-start">
                                <h3 dir="auto">Genres</h3>
                            </div>
                            <div class="row justify-content-start">
                                <p>
                                    {% for genres in tvshow.genres %}
                                        {{ genres.name }}&nbsp;&nbsp;
                                    {% endfor %}
                                </p>
                            </div>

                            <div class="row justify-content-start">
                                <h3 dir="auto">Seasons</h3>
                            </div>
                            <div class="row justify-content-start">
                                <p>Seasons: {{ tvshow.number_of_seasons }} ~
                                    Episodes: {{ tvshow.number_of_episodes }} ~
                                    Duration: {% print tvshow.episode_run_time[0] %}'
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block contentOption %}
    {% endblock %}

{% endblock %}







